/* Colors and Fonts */

body{
  background: #C6AFAA;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #515151;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3{
  font-family: 'Matchinger', sans-serif;
}

h1{
  /*color: #34495E;*/
  color: #259ae4;
  font-size: 52px;
}

h2{
  color: #259ae4;
  font-size: 36px;
  font-weight: 300;
}

h3{
  font-size: 24px;
  font-weight: bold;
  color: #FFFAFA;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 3px darkgrey;
  font-family: matchinger;
}

h3:hover{
  color: #97cdf0;
  text-decoration: none;
  text-shadow: 3px 3px 5px darkgrey;
}

  @media (max-width: 600px){
        h3{
          font-size: 18px;
        }
  }

h4{
  color: #C6AFAA;
  font-family: matchinger;
  font-size: 18px;
}

h5{
  font-size: 22px;
  font-weight: bold;
  color: #FFFAFA;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 3px darkgrey;
  font-family: matchinger;
}

h6{
  font-size: 16px;
  font-weight: normal;
  color: #FFFAFA;
  transition: all 0.3s ease;
  text-shadow: 0.1px 0.1px 0.3px darkgrey;
  font-family: helveticaNeue;
}

p{
  font-weight: normal;
  font-size: 16px;
}

a{
  font-size: 24px;
  font-weight: bold;
  color: #FFFAFA;
  transition: all 0.5s ease;
  text-shadow: 1px 1px 3px darkgrey;
  text-decoration: none;
}

a:hover{
  color: #97cdf0;
  text-decoration: none;
  font-size: 40px;
}

th, td {
  border-bottom: 1px solid #C6AFAA;
}

li {
  font-size: 14px;
}

.link{
  color: #a58e86;
  text-decoration: none;
    transition: all 0.18s ease;

}

.link:hover{
  color: #7FB3D5;
  text-decoration: none;
}

table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

/* First simple components */

.text-center {
  text-align: center;
}

.container{
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

  @media (max-width: 600px){
        .container{
          width: 88%;
        }
  }

.card{
  background: #FFFAFA;
  padding: 20px;
  margin-bottom: 7%;
  margin-top: 20%;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 1px rgba(0.4, 0.2, 0.2, 0.4);
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 24px;
  position: fixed;
  background: #C6AFAAE6;
  width: 100%;
  top: 0;
  z-index: 10;
  height: 12%;
  box-shadow: 0 1px 3px #C6AFAA;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
  margin: auto 25%;
}

  @media (max-width: 600px){
        .nav-links {
          padding-top: 10%;
          margin: auto 8%;
        }
  }

.table_projects {
    width: 100%;
    text-align: center;
    height: 750px;
}

.table_projects td:nth-child(1) {
  width: 25%;
  font-weight: 500;
}
.table_projects td:nth-child(3) {
  width: 25%;
}
.table_projects td:nth-child(2) {
  width: 50%;
}

.table_projects-row {
    margin-top: 10px;
}

.img-circle{
  border-radius: 50%;
  margin-top: 30px;
}

.about {
    list-style: none;
    margin: 0 52px;
}

  @media (max-width: 600px){
        .about {
          margin: 0 5%;
          font-size: 14px;
        }
  }

.icons {
    display: flex;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 20px;
}

/* Specific CSS rules */

#img-profile{
  width: 200px;
  height: 200px;
    border: 1px solid #cccccc;
    box-shadow: 0.11px 0.1px 5px black;
}

  @media (max-width: 600px){
    #img-profile {
  width: 150px;
  height: 150px;
        }
  }

#img-profile-sport{
  width: 120px;
  height: 120px;
  border: 3px solid #cccccc;
}


/*scroll*/

  .fab {
    font-size: 35px !important;
  }

  .far {
    font-size: 35px !important;
  }

  .scroll-down {
    color: #F0F3F4;
    z-index: 1;
    font-size:300%;
    margin: 4% 0;
  }

  .scroll-down:hover {
    color: #7FB3D5;
    text-decoration: none;
  }



/*Contact Form*/

@font-face {
  font-family: Poppins-Regular;
  src: url('fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Matchinger;
  src: url('fonts/matchinger/Matchinger.otf');
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(219,21,99,0.8);
  background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}

.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #515151;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input2 {
  width: 80%;
  position: relative;
  border-bottom: 2px solid #C6AFAA;
  margin-bottom: 37px;
  margin-left: auto;
  margin-right: auto;
}

.input2 {
  display: block;
  width: 100%;
  background-color: #FFFAFA;
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #C6AFAA;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: linear-gradient(45deg, #7FB3D5, #7FB3D5);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Poppins-Regular;
  font-size: 13px;
  color: #515151;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(-135deg, #C6AFAA, #B09791, #C6AFAA, #B09791);
  background: -o-linear-gradient(-135deg, #C6AFAA, #B09791, #C6AFAA, #B09791);
  background: -moz-linear-gradient(-135deg, #C6AFAA, #B09791, #C6AFAA, #B09791);
  background: linear-gradient(-135deg, #C6AFAA, #B09791, #C6AFAA, #B09791);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;



  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;


}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*flip card*/

.card-container {
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  background: #FFFAFA;
  height: 500px;
  margin-bottom: 5%;
  margin-top: 20%;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 1px rgba(0.4, 0.2, 0.2, 0.4);
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-top: 20%;
}

  @media (max-width: 600px){
        .card-container{
          margin-top: 28%;
          height: 550px;
        }
  }

.flipcard {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.flipcard div {
  display: block;
  height: 100%;
  width: 100%;
  color: #515151;
  text-align: center;
  font-weight: bold;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcard .front {
  background: #FFFAFA;
}

@media (max-width: 600px){
  .flipcard .front {
    line-height: initial;
  }
}

.flipcard .back {
  background: #FFFAFA;
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.flipcard.flipped {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

/*fade in boxes*/


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

/*---make a basic box ---*/
.box{
  width: 300px;
  height: 200px;
  position: relative;
  margin: 4%;
  border: 0.1px solid #777;
  transition: all 1s ease;
  box-shadow: 2px 2px 11px rgba(33,33,33,.5);
}

@media (max-width: 600px) {
  .box {
    margin: 25%;
  }
}

.box:hover {
  box-shadow: 2px 2px 11px rgba(33,33,33,.2);
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .box:hover {
    transform: none;
  }
}

.box-heading {
  margin-top: -13%;
  text-align: center;
}

.box-description {
  margin-top: 78%;
  text-align: center;
}

.mini-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

@media (max-width: 600px) {
  .mini-card {
    flex-direction: column;
    padding: 0 0;
  }
}
