/* Colors and Fonts */

body{
  background: #C6AFAA;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #515151;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3{
  font-family: 'Arial', sans-serif;
}

h1{
  color: #34495E;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

a{
  color: #aaa;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover{
  color: #7FB3D5;
  text-decoration: none;
}

th, td {
  border-bottom: 1px solid #C6AFAA;
}

.link{
  color: #a58e86;
  text-decoration: none;
    transition: all 0.18s ease;

}

.link:hover{
  color: #7FB3D5;
  text-decoration: none;
}

table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

/* First simple components */

.text-center {
  text-align: center;
}

.container{
  width: 800px;
  margin: 30px auto;
}

.card{
  background: #FFFAFA;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 1px rgba(0.4, 0.2, 0.2, 0.4);
}

.table_projects {
    width: 100%;
    text-align: center;
    height: 50%;
}

.table_projects td:nth-child(1) {
  width: 25%;
  font-weight: 500;
}
.table_projects td:nth-child(3) {
  width: 25%;
}
.table_projects td:nth-child(2) {
  width: 50%;
}

.table_projects-row {
    margin-top: 10px;
}

.img-circle{
  border-radius: 50%;
}

.no-bullet {
    list-style: none;
}

.sm-icon {
    font-size: 40px;
}

.letter-spacing {
  letter-spacing: 20px;
}
/* Specific CSS rules */

#img-profile{
  width: 200px;
  height: 200px;
  border: 3px solid #cccccc;
}

#img-profile-sport{
  width: 120px;
  height: 120px;
  border: 3px solid #cccccc;
}

